In [1]:
import pandas as pd

C:\Users\Flora\anaconda3\envs\seun\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Flora\anaconda3\envs\seun\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\Flora\anaconda3\envs\seun\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Flora\anaconda3\envs\seun\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
df = pd.DataFrame([['green', 'M', 10.1, 'class1'],
                   ['red', 'L', 13.5, 'class2'],
                   ['blue', 'XL', 15.3, 'class1']] )

df.columns = ['color', 'size', 'price', 'classlabel']

In [3]:
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [4]:
size_mapping = {'XL': 3,
                'L': 2,
                'M': 1}

In [5]:
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [6]:
import numpy as np

class_mapping = {label: idx for idx, label in enumerate(np.unique(df['classlabel']))}
print(class_mapping)

{'class1': 0, 'class2': 1}

In [7]:
df['classlabel'] = df['classlabel'].map(class_mapping) 
df

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   blue     3   15.3           0

In [8]:
df['classlabel'] = df['classlabel'].map(class_mapping) 
df

   color  size  price  classlabel
0  green     1   10.1         NaN
1    red     2   13.5         NaN
2   blue     3   15.3         NaN

In [9]:
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values) #데이터 변환을 위한 fit_transform 함수
y

array([0, 0, 0], dtype=int64)

In [10]:
X = df[['color', 'size', 'price']].values
X

array([['green', 1, 10.1],
       ['red', 2, 13.5],
       ['blue', 3, 15.3]], dtype=object)

In [11]:
color_le = LabelEncoder()
X[:, 0] = color_le.fit_transform(X[:, 0])
X

array([[1, 1, 10.1],
       [2, 2, 13.5],
       [0, 3, 15.3]], dtype=object)

In [12]:
'''
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(categorical_features=[0]) #categorical_features=[0] 으로 특성의 열 위치를 매개변수에 전달
print(ohe.fit_transform(X).toarray()) #희소행렬을 반환하므로 toarray 메서드로 내용 확인
print(pd.get_dummies(df[['price', 'color', 'size']]))
'''

"\nfrom sklearn.preprocessing import OneHotEncoder\n\nohe = OneHotEncoder(categorical_features=[0]) #categorical_features=[0] 으로 특성의 열 위치를 매개변수에 전달\nprint(ohe.fit_transform(X).toarray()) #희소행렬을 반환하므로 toarray 메서드로 내용 확인\nprint(pd.get_dummies(df[['price', 'color', 'size']]))\n"